<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomasneuraz.myapplication1"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thomasneuraz.myapplication1.MainActivity" />
        </activity>
        <activity
            android:name=".DynamicButtonActivity"
            android:label="@string/title_activity_dynamic_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BlocNoteActivity"
            android:label="@string/title_activity_bloc_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyListActivity"
            android:label="@string/title_activity_my_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyMenuActivity"
            android:label="@string/title_activity_my_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChessBoardActivity"
            android:label="@string/title_activity_chess_board"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
